{% extends 'base.html' %}
{% load static %} 

{% block navbar %}
{% include 'components/navbar.html' %}
{% endblock navbar %} 

{% block left_sidebar %}
{% include 'components/left_sidebar.html' %}
{% endblock left_sidebar %}

{% block content %}
{% comment %} {% include 'components/content.html' %} {% endcomment %}
{% endblock content %}

{% block right_sidebar %}
{% include 'components/right_sidebar.html' %}
{% endblock right_sidebar %}

{% block footer %}

{% endblock footer %}

{% block javascript %}

{% endblock javascript %}