{% load static %}

<div class="w-full h-full flex items-center justify-between flex-col">
  <div>
    <h1 class="text-white text-3xl">LOGO</h1>
  </div>

  <div class="flex items-center justify-center flex-col">
    <a href="#" class="h-12 w-12 flex items-center justify-center mb-3 hover:bg-zinc-800 duration-150 rounded-xl">
      <i class="fa-solid fa-house bg-gradient-to-br from-indigo-600 via-indigo-800 to-violet-800 bg-clip-text text-transparent text-xl"></i>
    </a>
    <a href="#" class="h-12 w-12 flex items-center justify-center mb-3 hover:bg-zinc-800 duration-150 rounded-xl">
      <i class="fa-solid fa-bell bg-gradient-to-br from-indigo-600 via-indigo-800 to-violet-800 bg-clip-text text-transparent text-xl"></i>
    </a>
    <a href="#" class="h-12 w-12 flex items-center justify-center mb-3 hover:bg-zinc-800 duration-150 rounded-xl">
      <i class="fa-solid fa-plus bg-gradient-to-br from-indigo-600 via-indigo-800 to-violet-800 bg-clip-text text-transparent text-xl"></i>
    </a>
    <a href="#" class="h-12 w-12 flex items-center justify-center mb-3 hover:bg-zinc-800 duration-150 rounded-xl">
      <i class="fa-solid fa-image bg-gradient-to-br from-indigo-600 via-indigo-800 to-violet-800 bg-clip-text text-transparent text-xl"></i>
    </a>
    <a href="#" class="h-12 w-12 flex items-center justify-center hover:bg-zinc-800 duration-150 rounded-xl">
      <i class="fa-solid fa-user bg-gradient-to-br from-indigo-600 via-indigo-800 to-violet-800 bg-clip-text text-transparent text-xl"></i>
    </a>
  </div>

  <div class="flex items-center justify-center flex-col">
    <a href="#" class="h-12 w-12 flex items-center justify-center hover:bg-zinc-800 duration-150 rounded-xl">
      <i class="fa-solid fa-power-off text-zinc-500 text-xl"></i>
    </a>
  </div>
</div>
