{% load static %}

<div class="w-full h-full flex items-center justify-between flex-col shadow-md">
  <div class="w-full bg-zinc-900 h-2/6 pt-12 px-12 rounded-tl-xl">
    <div class="flex items-start justify-start">
      <div
        class="h-24 w-24 rounded-full border-2 bg-zinc-400 border-zinc-400 mr-6"
      ></div>
      <div class="flex items-start justify-center flex-col">
        <p class="text-zinc-50 text-3xl font-semibold mb-1.5">
          Jilver Pacheco Rivera
        </p>
        <span class="text-zinc-300">@jilverprivera</span>
      </div>
    </div>
    <div class="grid grid-cols-3 mt-8">
      <div class="flex items-center justify-center flex-col">
        <p class="text-zinc-300 text-base">Followers</p>
        <p class="text-zinc-50 text-2xl font-semibold">2162</p>
      </div>
      <div class="flex items-center justify-center flex-col">
        <p class="text-zinc-50 text-base">Following</p>
        <p class="text-zinc-50 text-2xl font-semibold">2162</p>
      </div>
      <div class="flex items-center justify-center flex-col">
        <button class="px-12 py-3 rounded-3xl bg-gradient-to-br from-cyan-500 via-blue-600 to-fuchsia-700 text-zinc-50 font-semibold tracking-widest text-base">
          Follow
        </button>
      </div>
    </div>
  </div>

  <div class="w-full bg-white h-4/6 rounded-tr-3xl rounded-tl-3xl">
    <div class="p-12 grid grid-cols-3 gap-6">
      <div
        class="col-span-2 row-span-2 border-2 aspect-square rounded-xl"
      ></div>
      <div class="border-2 aspect-square rounded-xl"></div>
      <div class="border-2 aspect-square rounded-xl"></div>
      <div class="border-2 aspect-square rounded-xl"></div>
      <div class="border-2 aspect-square rounded-xl"></div>
      <div class="border-2 aspect-square rounded-xl"></div>
    </div>
  </div>
</div>
